.new-campus {
    text-decoration: none;
  width: 150px; 
  height: 70px;
  border: 2px solid #fff;
  border-radius: 30px; 
  background-color: #a90909; 
  color: #fff; 
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 7px 6px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, background-color 0.2s ease;
}

/* .container {
  height: 200px;
  position: relative;
  border: 3px solid green;
}


img{
	width: 200;
	height: 200;
	border: 5px solid rgb(0, 2, 66);
	border-radius: 100%;
} */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}