h1{
    font-family: 'Arial', sans-serif;
    font-size: 35px;
    font-weight: bold;
    margin: 8px 0;
    color: #0c39b4;
    text-transform: uppercase;
    text-shadow:  0 7px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.2s ease;
}

.card-container {
    display: flex;
    gap: 70px;
    justify-content: center;
    margin: 20px;
}
      

.campus-card {
  width: 400px;
  height: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.student-card {
  width: 400px;
  height: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.campus-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.student-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}
  
      
.campusimg {
  width: 100%;
  height: 350px;
  background-color: #f0f0f0;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 15px;
}

.studentimg {
  width: 100%;
  height: 350px;
  background-color: #f0f0f0;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 15px;
}


.campus-card h2 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 15px;
    color: black;
}
      

.student-card h2 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 15px;
    color: black;
}
      

.card-button {
  text-decoration: none;
  width: 150px; 
  height: 70px;
  border: 2px solid #fff;
  border-radius: 30px; 
  background-color: #a90909; 
  color: #fff; 
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 7px 6px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, background-color 0.2s ease;
}
      

.card button:hover {
    background-color: #487b7d;
    transform: translateY(-3px);
    transform: scale(1.15);
}